.small-checkbox .form-check-input {
    transform: scale(0.4); /* Ajusta el tamaño como desees */
    height: 62px;
}

.label-checkbox {
    font-size: 2.3rem;
    align-items: center;
    margin-left: -20px; /* Ajusta el tamaño como desees */
}

.height-checkbox {
    height: auto;
    padding: 10px 0;
    margin-top: auto;
    height: 70px !important;
    line-height: 1.5;
    padding: 10px;
}
.d-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



