
.button-cancel{
  background-color: white;
  border: #f44336 1px solid;
  color: black;
  transition: all .3s ease;
}

.button-cancel:hover{
  background-color: #f44336;
  color: white;
  border: #f44336 1px solid;
}

.button-ok{
  background-color: #2A50CF;
  border: #2A50CF 1px solid;
  transition: all .3s ease;
}

.button-ok:hover{
  background-color: #2f20cf;
  border: #2F20CF 1px solid;
}

.user-profile-list{
  background-color: #fff !important;
  box-shadow: 0px 8px 24px rgba(27,46,94,.12) !important;
  padding: 25px !important;
  border: 1px solid #dbe0e5 !important;
  padding-bottom: 5px !important;
}

.modal-backdrop {
  background-color: transparent;
}

.modal-open .modal {
  backdrop-filter: blur(5px); /* Adjust the blur amount as needed */
}


