
.button-cancel{
  background-color: white;
  border: #f44336 1px solid;
  color: black;
  transition: all .3s ease;
}

.button-cancel:hover{
  background-color: #f44336;
  color: white;
  border: #f44336 1px solid;
}

.button-ok{
  background-color: #2A50CF;
  border: #2A50CF 1px solid;
  transition: all .3s ease;
}

.button-ok:hover{
  background-color: #2f20cf;
  border: #2F20CF 1px solid;
}

.user-profile-list{
  background-color: #fff !important;
  box-shadow: 0px 8px 24px rgba(27,46,94,.12) !important;
  padding: 25px !important;
  border: 1px solid #dbe0e5 !important;
  padding-bottom: 5px !important;
}

.input-primary {
  border: 1px solid #dbe0e5 !important;
  border-radius: 10px !important;
  padding: 10px !important;
}

/* Estilos para el switch personalizado */
.custom-switch-v1 {
  display: flex;
  align-items: center;
}

.custom-switch-v1 .form-check-input {
  width: 0;
  height: 0;
  opacity: 0;
}

.custom-switch-v1 .form-check-label {
  position: relative;
  padding-left: 60px; /* Espacio para el switch */
  cursor: pointer;
  line-height: 30px;
}

.custom-switch-v1 .form-check-label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 15px;
  transition: background-color 0.3s;
}

.custom-switch-v1 .form-check-label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
  z-index: 1;
}

.custom-switch-v1 .form-check-input:checked + .form-check-label::before {
  background-color: #007bff;
}

.custom-switch-v1 .form-check-input:checked + .form-check-label::after {
  transform: translate(25px, -50%);
}
