@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.cont-btns-choose{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-gen{
    margin-top: 50px;
    padding-left: 22px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 32px;
    text-align: left;
    cursor: pointer;
    border: 1px solid #3D3D3D;
    background-color: white;
    border-radius: 7px;
    font-size: 16.5px;
    font-weight:500;
    line-height: 1.5;
    font-family:   var(--heading-font);
}
.img-icon2{
    width: 30px !important;
    margin-bottom: 7px;
}

.flex-item-logo{
    flex: 1; /* Cada elemento toma un espacio igual */  
    display: flex;
    justify-content: center;  /* Centra el contenido horizontalmente */
    align-items: center;      /* Centra el contenido verticalmente */
    flex-direction: column;   /* Alinea el contenido en columna */
}

.btn-pass{
    width: 10%;
    height: 45px;
    background-color: #2A50CF;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-family:   var(--heading-font);
    font-weight: 500;
    font-size: 14px !important;
    margin-top: 50px;
}