@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Work+Sans:wght@400;500;600&display=swap");

* {
  scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

*::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 20px;
  border: 3.5px solid rgb(255, 255, 255);
}
.input-nl{
  border: 1px solid gray !important;
}

.btn-footer-ln{
  border: 1px solid white !important;
} 
.main-menu .navbar-collapse .mobile-menu li ul {
  opacity: 1 !important;
  visibility: unset !important;
}
.main-menu .navbar-collapse li:hover > ul {
  visibility: visible;
  opacity: 1;
  top: 100%;
  display: block;
}
.main-menu .navbar-collapse li ul li ul {
  top: -2% !important;
}

.iconic-slider-right.text-white .slick-slide,
.iconic-slider-left.text-white .slick-slide {
  padding-right: 20px;
}

.iconic-slider-right .slick-slide,
.iconic-slider-left .slick-slide {
  padding-right: 60px;
}
.testi-slider-four .slick-dots,
.testi-slider-five .slick-dots,
.testi-slider-three .slick-dots,
.testi-slider-nine .slick-dots {
  display: flex !important;
}
.iconic-slider-right.style-two .slick-slide:nth-child(even) {
  margin-top: 40px;
}

.testi-slider-three .slick-slide,
.testi-slider-nine .slick-slide {
  padding: 0 15px;
}

.___ {
  position: relative;
}
.slider {
  position: relative;
  width: 100%;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 3px;
}

.slider__track {
  background-color: rgba(0, 85, 255, 0.2);
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: var(--primary-color);
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  margin-top: 20px;
}

.slider__left-value {
  left: 6px;
}

.slider__right-value {
  right: -4px;
}

/* Removing the default appearance */
.thumb__,
.thumb__::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb__ {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 100%;
  outline: none;
}

.thumb--zindex-3 {
  z-index: 3;
}

.thumb--zindex-4 {
  z-index: 4;
}

.thumb--zindex-5 {
  z-index: 5;
}

/* For Chrome browsers */
.thumb__::-webkit-slider-thumb {
  background-color: var(--primary-color);
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb__::-moz-range-thumb {
  background-color: var(--primary-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 10px;
  width: 8px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.price-amount {
  margin-top: 20px;
}
p.amount {
  position: relative;
  top: 10px;
}

p.amount span {
  font-size: 16px;
  line-height: 22px;
  color: #666666;
}
.price-filter-wrap .price {
  display: block !important;
}
.price-filter-wrap .price span {
  font-size: 16px;
  font-weight: 500;
}

.close{
  background-color: #fff; 
  font-size: 30px;
}

.page-header .page-header-title{
  margin-top: -20px;
  margin-bottom: 10px;
}

.breadcrumb-item + .breadcrumb-item{
  padding-left: 0px !important;  
}

.page-header .breadcrumb .breadcrumb-item:last-child{
  margin-top: 0px !important;
}

.hover-button-eye{
  font-size: 18px;
  
}
.hover-button-eye:hover{
  color: #2950CE;
  transition: .2s;
}
.hover-button-trash{
  font-size: 18px;
}

.page-link{
  padding: 8px !important;
  border-radius: 8px !important;
  border: 1px solid #ffffff00 !important;
}

.page-link:hover{
  background-color: #fff !important;
  color: #696969 !important;
  border: 1px solid #696969 !important;
}

.page-link active{
  border: 1px solid #696969 !important;
}

@media (max-width: 768px) { /* Ajusta el ancho según el tamaño deseado para ocultarlo */
  .breadcrumb{
      display: none !important;
  }
  .page-header-title {
    margin-left: -100%;
  }
}

