.container {
    padding: 10px;
  }

  h3 {
    margin-bottom: 20px;
    font-size: 20px;
    margin-right: 50px;
  }
  
  .cards-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .card {
    background-color: #fff;
    border: 1px solid #ddd;
    flex: 1;
    border-radius: 8px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .icon-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.icon-button:last-child {
    margin-right: 0;
}


  .add-button {
    color: #000000;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 0.3rem; /* Ajusta el padding para hacer las celdas más compactas */
    font-size: 0.75rem; /* Tamaño de fuente más pequeño */
    text-align: left;
  }
  
  .th-compact {
    max-width: 100px; /* Ajusta el ancho máximo según sea necesario */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .td-compact {
    max-width: 100px; /* Ajusta el ancho máximo según sea necesario */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .options-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }

  .custom-modal .modal-dialog {
    max-width: 55%; /* Ajusta el porcentaje según el ancho deseado */
  }

  .custom-modal .modal-content {
    border-radius: 0.5rem; /* Opcional: para redondear las esquinas del modal */
  }


  .custom-modal-donation .modal-dialog {
    max-width: 40%; /* Ajusta el porcentaje según el ancho deseado */
  }

  .custom-modal-donation .modal-content {
    border-radius: 0.5rem; /* Opcional: para redondear las esquinas del modal */
  }

  