body{
  font-family: 'Inter', sans-serif;
}
.card-header-tabs{
    margin-bottom: 0 !important;
}

.cont-btn-ent{
  margin-right: -50%;
  margin-left: 50%;
}

.buttonorg_perf{
    margin-left: 40% !important;
    margin-right: -60% !important;
}

.buttonorg_perf2{
    width: 100px !important;
}

.applybtn{
    color: #fff !important;

}

.btn-dash-perf{
  font-size: 16px !important;
  width: 90% !important;
  height: 50px !important;
}

.small-checkbox .form-check-input {
  transform: scale(0.4); /* Ajusta el tamaño como desees */
  height: 62px;
}
.label-checkbox {
  font-size: 2.3rem;
  align-items: center;
  margin-left: 0px; /* Ajusta el tamaño como desees */
}

.changeimg:hover{
    opacity: 0.5;
    color: #000000;
    transition: .5s;
}

.img-profile-avtar{
    height: 90px !important;
    width: 140px !important;
    margin-right: -50px !important;
}

.rounded-circle{
  width: 90px !important;
  height: 90px !important;
}

.suggestionsTitle{
    margin-left: 26.5px;
}
.g-2{
    margin-top: 20px !important;
}
.img-members{
  margin-top: 20px;
}
.rounded-video{
    border-radius: 10px;
}
.profilepic {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.profilepic:hover .profilepic__content {
  opacity: 1;
}

.profilepic:hover .profilepic__image {
  opacity: .5;
}

.profilepic__image {
  opacity: 1;
  transition: opacity .2s ease-in-out;
}

.profilepic__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.profilepic__icon {
  color: black;
  padding-bottom: 8px;
}

.fas {
  font-size: 20px;
}

.profilepic__text {
  text-transform: uppercase;
  font-size: 12px;
  width: 50%;
  text-align: center;
}

.btn-actualizar{
  width: 25%;
  font-size: 18px;
}

.social-profile .img-profile-avtar{
  margin-top: 0px;
}


@media (max-width: 767px) {
  .img-profile-avtar{
    height: 77px !important;
    width: 80px !important;
    margin-right: 0px !important;
  }
}


@media (max-width: 605px) {
  .img-profile-avtar{
    margin-top: 20px !important
  }
}
