body{
  font-family: 'Inter', sans-serif;
}
.card-header-tabs{
    margin-bottom: 0 !important;
}

.cont-btn-ent{
  margin-right: -50%;
  margin-left: 50%;
}

.buttonorg_perf{
    margin-left: 40% !important;
    margin-right: -60% !important;
}

.buttonorg_perf2{
    width: 100px !important;
}

.applybtn{
    color: #fff !important;

}

.img-profile-avtar{
    height: 90px !important;
    width: 140px !important;
    margin-right: -50px !important;
}

.suggestionsTitle{
    margin-left: 26.5px;
}
.g-2{
    margin-top: 20px !important;
}
@media (max-width: 767px) {
  .img-profile-avtar{
    height: 77px !important;
    width: 80px !important;
    margin-right: 0px !important;
  }
}


@media (max-width: 605px) {
  .img-profile-avtar{
    margin-top: 20px !important
  }
}
